.container{
   max-width: 1200px; 
}
.row{
   margin: 0;
}
#row-inicio{
   color:black;
   font-size: 45px;
   font-weight: bold;
   background-color: #D1E7DD;
   padding-left: 30px;
}
#row-presentacion{
   background-color:#A7B9B1;
}
#texto-pre{
   margin-top: 120px;
}
#row-presentacion{
   background-size: cover;
}
#row-marcas{
   background-color:#D1E7DD;
}
#row-variedad{
   background-color: #A7B9B1;
}
#row-variedad img{
   border-radius: 55%;
}
#row-mapa{
   background-color: #D1E7DD;
}
#row-form{
   background-color:#A7B9B1;
}